<h1>Just A Minor Hiccup</h1>
<%= link_to image_tag('browse-happy.jpg'), 'http://browsehappy.com', target: '_blank' %>
<p style="margin: 2em 0">We have detected that you are using an older browser.  Please upgrade it by heading over to Browse Happy and selecting an upgrade option.  Click the image above to do so now.  Firefox and Chrome are great browsers, and Internet Explorer 10 or 11 will improve your experience browsing the web as well.  After you are all set upgrade, come on back here to see how you can help us out.  Thanks!</p>
