<h1 style="text-align:left; font-size:2em">Thank You</h1>
<p>Your donation has been recieved. Thank you for assisting the kids of Livingston County in reaching their full potential!</p>
<%= image_tag('cover-photo-'+(rand(1..2)).to_s+'-color.png', id: 'cover-photo') %>

<h2>What To Expect Next</h2>
<p>Whether you have decided to become a Sponsor or generously donated an item to our Live Auction, someone will be in touch with you shortly to discuss next steps and the details of your donation. If you have further questions please feel free to contact Steve Gronow by <a href="mailto:steve@chestnutdev.com?Subject=Heart%20In%20The%20Tropics%20Inquiry">email</a> or by phone at 810.599.5147. Make sure to go to our <a href="http://www.midnightinthetropics.com" target="_blank">Heart In The Tropics website</a> to learn more.</p>

<h2>Come to the Event</h2>
<p>We invite you to come and make a difference in person as well.  <a href="http://www.midnightinthetropics.com/event/">Learn more</a>.</p>
<a class="button expand" href="http://www.datekeeper.org/event/hitt">Buy Tickets</a>

<h2>Help Spread The Word</h2>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_preferred_4"></a>
	<a class="addthis_button_compact"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
</div>

<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529634a864dd8d05"></script>
<!-- AddThis Button END -->
