<h1>Thank You</h1>
<%= image_tag('cover-photo-'+(rand(1..2)).to_s+'-color.png', id: 'cover-photo') %>
<p>We will be getting in touch with you shortly, and appreciate your support of our community.</p>
